* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #08220a;
    height: 100%;
    text-align: center;
    color: #60ff16;
}
.header{
    height: 10vh;
    font-size: 80px;
    font-weight: bold;
}
h1{
    font-size: 80px;
    font-weight: bold;
}
.content{
    margin-top: 30vh;
    height: 50vh;
}
.footer {
    height: 10vh;
    font-size: 22px;
}
.btn-login{
    background-color: grey;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
    color: #60ff16;
}
.btn_login:hover{
    background-color: #60ff16;
    color: grey;
    cursor: pointer;
}
input{
    font-size: 20px;
    font-weight: bold;
}
.credit-detail{
    display: none;
}
.btn-logout{
    background-color: #08220a;
    color: #60ff16;
    border: none;
    cursor: pointer;
}

.welcome{
    font-size: 20px;
    margin-bottom: 0;
}
.form-group tr:hover {
    cursor: pointer;
}