.container{
     font-size: 21px;
     font-weight: bold;
     color: #ffdf28;
 }
.main_menu_bg{
    background: url("../img/logo2.jpg") no-repeat;
    background-size: 100%;
}
body{
    background: url("../img/main_bg.jpg");
}
.main_title{
    padding: 180px 70px 70px;
    font-size: 80px;
}
ul{
    list-style: none;
    margin: 0px;
    padding-left: 0;
    padding-top: 20px;
}
li{
    display: inline;
}
.main_menu a {
    text-decoration: none;
    color: #ffdf28;
    font-size: 40px;
    font-weight: 900;
    margin: 10px;
}
.main_menu a:hover {
    text-decoration: none;
    color: red;
}

#title-of-table{
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
#table_person_list tr:hover{
    background: #999;
}
#table_person_list tr:first-child:hover{
    background: none;
}
#dark{
    position: fixed;
    background: rgba(0,0,0,0.85);
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2;
    display: none;
}
#info-person{
    position: fixed;
    background: black;
    left: 25%;
    top: 15%;
    height: 70%;
    width: 50%;
    display: none;
    border: 2px solid #ffdf28;
    z-index: 3;
    color: #ffdf28;
    /*text-align: center;*/
    padding: 20px;
    overflow: auto;
}
#info-person ul{
    padding-top: 0;

}
#info-person ul li{
    display: block;
}
#info-person span{
    display: block;
    color: white;
    margin-top: 5px;
    font-weight: 400;
}
.info-person-title{
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 5px solid #ffdf28;
    border-right: 5px solid transparent;
}
.loader{
    position: fixed;
    background: black;
    left: 25%;
    top: 15%;
    height: 70%;
    width: 50%;
    display: none;
    z-index: 3;
    padding: 20px;
    text-align: center;
}
.loader img{
    margin-top: 40%;
}
.about-me{
text-align: center;
    font-size: 35px;
    padding-top: 10%;
}
#back{
    text-decoration: none;
    font-size: 35px;
    color: red;
    font-weight: bold;
}